h1 {
    background-image: linear-gradient(green, blue);
    color: aliceblue;
    width: 670px;
}
p{
    font-size: larger;
    font-weight: 500;
    background-image: linear-gradient(blue, green);
    color: aliceblue;
    width: 670px;
}
p1{
    font-size: larger;
    font-weight: 500;
    background-image: linear-gradient(green, blue);;
    color: aliceblue;
}
a{
    font-size: large;
    font-weight: 500;
    background-image: linear-gradient(green, blue);
    color: chartreuse;
}
h2{
    background-image: linear-gradient(green, blue);
    color: aliceblue;
    font-size: large;
    font-weight: 400;
    position: relative;
    width: 670px;
    align-items: flex-start;
}
h3{
    background-image: linear-gradient(blue, green);
    color: aliceblue;
    font-size: large;
    font-weight: 400;
    width: 670px;
    
}
h4{
    background-image: linear-gradient(green, blue);
    color: aliceblue;
    font-size: large;
    font-weight: 400;
    width: 670px;
}